* {
  box-sizing: border-box;
}
section {
  display: -webkit-flex;
  display: flex;
}
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Väri kun hiiri päällä */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
body {
  min-width: 1040px;
  font-family: Georgia, sens-serif;
}
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: rgb(219, 210, 210);
  padding: 10px;
}

caption {
  font-size: 32px;
  text-transform: uppercase;
  text-decoration: underline;
  text-shadow: 1px 1px #5687ac;
  color: blue;
}

table {
  border-collapse: collapse;
}

td, th {
  border-right: 1px dashed grey;
  padding: 10px;
}

td:last-child, th:last-child {
  border-right: none;
}

.points_together {
  text-align: right;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
