* {
  box-sizing: border-box;
}
section {
  display: -webkit-flex;
  display: flex;
}
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
body {
  min-width: 1040px;
  font-family: Georgia, sens-serif;
}
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: rgb(219, 210, 210);
  padding: 10px;
}

caption {
  font-size: 32px;
  text-transform: uppercase;
  text-decoration: underline;
  text-shadow: 1px 1px #5687ac;
  color: blue;
}

table {
  border-collapse: collapse;
}

td, th {
  border-right: 1px dashed grey;
  padding: 10px;
}

td:last-child, th:last-child {
  border-right: none;
}

.points_together {
  text-align: right;
}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
